{% extends 'front/front_layout.html.twig' %}
 
{% block title %}{{ parent() }}-Mot de passe oublié{% endblock %}
 
{% block body %}
<h1 class="collection-title"><span>Mot de passe oublié</h1>
<div class="forgotpass-form">
   <h2 class="resetpass-title-h2">Pour réinitialiser votre mot de passe, veuillez entrer votre adresse e-mail ci-dessous.</h2>
    {{ form_start(emailForm) }}
    {{ form_widget(emailForm) }}
        <button class="btn registrer-btn" type="submit">Envoyer</button>
    {{ form_end(emailForm) }}
</div>
{% endblock %}