{% extends 'front/front_layout.html.twig' %}
 
{% block title %}{{ parent() }}-Nouveau mot de passe{% endblock %}
 
{% block body %}
<h1 class="collection-title"><span>Réinitialisation du mot de passe</span></h1>
    <h2 class="resetpass-title-h2">Veuillez entrer votre nouveau mot de passe ci-dessous.</h2>
    <form class="form-reset" method="post">
        <div class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input class="form-control" type="password" name="password" id="inputPassword" pattern=".[a-zA-Z0-9]{6,}" placeholder="Mot de passe" required  title="6 caractères non spéciaux minimum" onchange="form.confirm_pass.pattern = (this.value == '' ? '.[a-zA-Z0-9]{6,}' : this.value);">
        </div>
        <div class="form-group">
            <label for="confirm_pass">Confirmation mot de passe</label>
            <input class="form-control" type="password" name="confirm_pass" placeholder=" Répéter mot de passe" pattern=".[a-zA-Z0-9]{6,}" required title="Les mots de passe doivent être identiques">
        </div>
        <input type="hidden" name="token" value="{{ token }}">
        <button class="btn registrer-btn" type="submit" id="valider">
            Valider
        </button>   
    </form>
{% endblock %}