{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" onclick="return confirm('Etes vous sur vouloir modifier l'article?')">{{ button_label|default('Mettre à jour') }}</button>
{{ form_end(form) }}
