{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }}- Admin-Images de fond{% endblock %}

{% block body %}
    <h1 class="title-crud">Ajouter une image de fond</h1>
    <div class="page-form-edit">
        {{ include('admin/background_image_form.html.twig', { button_label: 'Créer'}) }}
        <a href="{{ path('admin_background_images') }}">Retour à l'accueil administrateur</a>
    </div>
{% endblock %}
