{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success admin-create-btn" onclick="return confirm('Etes-vous sûr de vouloir modifier ce contenu?')">{{ button_label|default('Mettre à jour') }}</button>
{{ form_end(form) }}