{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin - Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Creér une catégorie</h1>
    <div class="page-form-edit">
        {{ include('admin/category_form.html.twig') }}
        <a href="{{ path('admin_categories') }}">Retour aux catégories</a>
    </div>
    
{% endblock %}
