{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" onclick="return confirm('Etes-vous sûr vouloir modifier ce contenu?')">{{ button_label|default('Mettre à jour') }}</button>
{{ form_end(form) }}
