{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }}-Admin-Modifier le contenu{% endblock %}

{% block body %}
<div class="page-form-edit">
    <h1 class="title-crud">Modifier contenu</h1>
    <div class="form-edit">
        {{ include('admin/content_form.html.twig') }}
    </div>
    <div class="form-edit">
        {{ include('admin/content_delete_form.html.twig') }}
    </div>
    
    <a href="{{ path('admin_contents') }}">Retour sur les contenus</a>
</div>
{% endblock %}
