{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }}-Admin-Nouveau maillot{% endblock %}

{% block body %}
    <h1>Ajouter un maillot</h1>
    <div class="page-form-edit">
        {{ include('admin/cycling_shirt_form.html.twig') }}
        <a href="{{ path('admin_cycling_shirts') }}">Retour au maillott</a>
    </div>
{% endblock %}
