@import '~bootstrap/scss/bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rokkitt', serif;
    width: 100%;
    height: auto;
    background-image: url("../images/nordwood.png");
    z-index: 1;
}

main {
    width: 100%;
    height: auto;
    margin: auto;
}

:root{
    --main-background-color: #2D4655;
    --second-background-color : #fff;
    --third-background-color : #B99867;
}
