/*Mobile version*/

.article-box {
    width: 90%;
    margin: auto;
}

.article-content {
    margin-bottom: 8%;
    margin-top: 8%;
}

.article-title-h2 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    text-align: center;
}

.article-title-h3 {
    font-size: 2rem;
    color: var(--third-background-color);
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
}

.container-social {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: center;
    grid-gap: 30px;
    margin: 30px auto;
    width: 90%;
}

.btn-share {
    padding: 11px;
    color: white;
}

.share_twitter {
    background-color: #55ACEE;
}

.share_facebook {
    background-color: #4267B2;
}

.share_linkedin {
    background-color: #0177B5;
}

.separateur {
    margin: auto;
    width: 90%;
    margin-top: 8%;
    margin-bottom: 8%;
}


.comment-form label {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
    color: var(--third-background-color);
}

.comment-btn {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 8rem;
    height: 3rem;
    background: rgba(185, 152, 103, 0.788);
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.comment-btn:hover {
    background-color: var(--third-background-color);
    transition: all 1s ease-out;
}

.comment-post-btn {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 10rem;
    height: 4rem;
    background: rgba(185, 152, 103, 0.788);
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.comment-post-btn:hover {
    background-color: var(--third-background-color);
    transition: all 1s ease-out;
}

.comment-post-btn a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.877);
}

#comment_comment {
    width: 80%;
    height: 30vh;
    margin: auto;
}

.comments-container {
    background: rgba(185, 152, 103, 0.788);
    width: 80%;
    margin: auto;
}

.comments-username, .comments-text {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
}

.comment-p {
    text-align: center;
}

/* Tablet - PC version */
@media (min-width: 1024px) {
    .container-social {
        display: flex;
        justify-content: space-around;
    }

    .btn-share {
        font-size: 1.2rem;
    }

    .separateur {
        width: 70%;
    }
}

/* Large PC */
@media (min-width: 1200px) {
    .btn-share {
        width: 50%;
    }

    .comments-container, #comment_comment  {
        width: 60%;
    }
}

/* Large PC */
@media (min-width: 1600px) {
    .separateur {
        width: 50%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}
