/*Mobile*/

.form-contact {
    width: 60%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contact-title {
    color: white;
    text-align: center;
}

.form-control:focus {
    border-color: black !important;
    box-shadow: none !important;
}

.form-contact label {
    display: none;
}

.form-contact input {
    background-color: rgba(45, 70, 85, 0.85);
    color: white !important;
    margin: 3% 0;
}

.form-contact ~ textarea {
    background-color: rgba(45, 70, 85, 0.85);
    color: white !important;
    margin: 3% 0;
}

.form-contact input:focus{
    background-color: rgba(45, 70, 85, 0.85) !important;
}

.form-contact textarea:focus{
    background-color: rgba(45, 70, 85, 0.85) !important;
}

.form-contact input::placeholder {
    color: white !important;
}

.form-contact textarea::placeholder {
    color: white !important;
}

.form-contact textarea {
    background-color: rgba(45, 70, 85, 0.85);
    color: white !important;
}

.form-contact input:hover {
    background-color: rgba(45, 70, 85, 0.85);
}

.form-contact textarea:hover {
    background-color: rgba(45, 70, 85, 0.85);
}
.form-contact::placeholder {
    color: white !important;
}

.form-contact input:-webkit-autofill,
.form-contact input:-webkit-autofill:hover, 
.form-contact input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 9000s ease-in-out 0s;
}

.form-contact:focus {
    outline: 0 !important;
}

.btn-contact {
    background: rgba(185, 152, 103, 0.788);
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 54%;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 1.2em;
}

.btn-contact:hover {
    background-color: var(--third-background-color);
    transition: all 1s ease-out;
}

#contact_message {
    height: 18vh !important;
}

.form-contact .hide-me {
    display: none;
}

/* Tablet - PC version */
@media (min-width: 1024px) {
     .btn-contact {
        width: 25%;
    }

    .form-contact {
        padding-top: 10%;
    }

    .contact-title {
        margin-bottom: 5%;
    }

    .form-contact input {
        font-size: 1.3em;
    }

    .form-contact textarea {
        font-size: 1.3em;
    }
}

/* Tablet - PC version */
@media (min-width: 1200px) {
   .form-contact {
       padding-top: 2%;
   }

   .btn-contact {
        width: 25%;
    }
}

/* PC version */
@media (min-width: 1600px) {
    .form-contact {
        padding-top: 5%;
    }
 }
 