/*Mobile*/

.top-background-contact {
    width: 100%;
    background-image: url("../images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
}

.contact-title {
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    z-index: 2;
    position: relative;
}

.contact-title-p {
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 0;
    z-index: 2;
}

.contact-title-h2 {
    text-align: center;
    padding-top: 10%;
}

.form-contact {
    width: 80%;
    padding-top: 10%;
    padding-bottom: 2%;
    margin: auto;
}

.hr-contact {
    width: 80%;
    margin: auto;
}

.form-control:focus {
    border-color: black !important;
    box-shadow: none !important;
}

.form-contact label {
    display: none;
}

.form-contact input {
    background-color: rgba(45, 70, 85, 0.85);
    color: white !important;
    margin: 3% 0;
}

.form-contact ~ textarea {
    background-color: rgba(45, 70, 85, 0.85);
    color: white !important;
    margin: 3% 0;
}

.form-contact input:focus{
    background-color: rgba(45, 70, 85, 0.85) !important;
}

.form-contact textarea:focus{
    background-color: rgba(45, 70, 85, 0.85) !important;
}

.form-contact input::placeholder {
    color: white !important;
}

.form-contact textarea::placeholder {
    color: white !important;
}

.form-contact textarea {
    background-color: rgba(45, 70, 85, 0.85);
    color: white !important;
}

.form-contact input:hover {
    background-color: rgba(45, 70, 85, 0.85);
}

.form-contact textarea:hover {
    background-color: rgba(45, 70, 85, 0.85);
}
.form-contact::placeholder {
    color: white !important;
}

.form-contact input:-webkit-autofill,
.form-contact input:-webkit-autofill:hover, 
.form-contact input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 9000s ease-in-out 0s;
}

.form-contact:focus {
    outline: 0 !important;
}

.btn-contact {
    background: rgba(185, 152, 103, 0.788);
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 54%;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 1.2em;
}

.btn-contact:hover {
    background-color: var(--third-background-color);
    transition: all 1s ease-out;
}

#contact_message {
    height: 18vh !important;
}

.form-contact .hide-me {
    display: none;
}

.developer-container {
    padding-top: 10%;
}

.developer-contact {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    margin-left: 10%;
    margin-bottom: 10%;
}

.developer-picture {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
}

/* Tablet version */
@media (min-width: 600px) {
    .form-contact {
        width: 60%;
    }

    .developer-contact {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .developer-picture {
        margin-left: 50%;
    }
}

/* Tablet - PC version */
@media (min-width: 1024px) {
    .contact-title {
        padding-top: 5%;
    }

    .contact-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 450px);
        justify-content: center;
        grid-gap: 2.5rem;
    }

    .btn-contact {
        width: 25%;
    }

    .form-contact {
        //padding-top: 10%;
        width: 90%;
    }

    .form-contact input {
        font-size: 1.3em;
    }

    .form-contact textarea {
        font-size: 1.3em;
    }

    .developer-contact {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        margin-bottom: 10%;
    }

    .developer-picture {
        margin-left: 30%;
    }
}

/* PC version */
@media (min-width: 1600px) {
    .contact-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 600px);
        justify-content: center;
        grid-gap: 2.5rem;
    }
}
