/*Taille des formulaires et des tableaux*/

.page-form-edit {
    width: 70%;
    margin: auto;
}

.form-edit {
    margin-bottom: 10px;
}

.table-hover {
    width: 80%;
    margin: auto;
}

.button-action {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    width: 60%;
}

.btn-created {
    display: block;
    margin: auto;
    width: 180px;
    margin-top: 10px;
}