.shirt-description, .shirt-description-p {
    text-align: center;
}

.shirt-description {
    margin-top: 3rem;
    font-size: 2rem;
}

.card-wrapper {
    width: 15rem;
    margin: auto;
}

.picture-load {
    width: 100%;
    display: block;
}

.picture-display {
    overflow: hidden;
}

.picture-showcase {
    display: flex;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.picture-showcase img {
    min-width: 100%;
}

.picture-select {
    display: flex;
}

.picture-item {
    width: 60%;
}

.picture-item:nth-child(1) {
    margin: 0.2rem 0.2rem 0 0;
}

.picture-item:nth-child(2) {
    margin-top: 0.2rem;
}

.picture-item:hover {
    opacity: 0.8;
}

.shirt-details-hr {
    width: 70%;
    margin: auto;
    padding-bottom: 5%;
}

/* Tablet version */
@media (min-width: 600px) {
    .card-wrapper{
        width: 25rem;
    }
}

@media (min-width: 1024px) {
    .shirt-details-hr {
        width: 50%;
    }

    .card-wrapper {
        position: relative;
    }

    .picture-display {
        overflow: hidden;
        width: 100%;
        height: 33rem;
    }

    .picture-showcase {
        display: flex;
        flex-direction: column;
    }

    .picture-select {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -31%;
        top: 19%;
    }

    .picture-item {
        width: 50%;
    }
}

/* Tablet - PC version */
@media (min-width: 1600px) {
    .card-wrapper {
        width: 35rem;
        position: relative;
    }

    .picture-display {
        overflow: hidden;
        width: 100%;
        height: 46rem;
    }

    .picture-showcase {
        display: flex;
        flex-direction: column;
    }

    .picture-select {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -27%;
        top: 25%;
    }

    .picture-item {
        width: 60%;
    }
}
