/*Mobile version*/

.nav-footer h6 {
    color:#fff;
    font-size:18px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px;
    text-align: center;
}

.nav-footer {
    background-color: var(--main-background-color);
    padding:45px 0 20px;
    line-height:24px;
    color:#737373;
}

.nav-footer hr {
    border-top-color:#bbb;
    opacity:0.5;
}

.nav-footer hr.small {
    margin:20px 0;
}

.text-footer {
    font-size: 1.2em;
}

.nav-footer a {
    color:#737373;
    font-size: 1.3rem; 
}

.nav-footer a:hover {
    transform: scale(1.1);
    color: #B99867;
    text-decoration: none;
}

.footer-links {
    padding-left:0;
    list-style:none;
    text-align: center;
}

.footer-links li {
    display:block;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color: var(--third-background-color);
    text-decoration:none;
}

.footer-links.inline li {
    display:inline-block;
}

.nav-footer .social-icons {
    text-align:right;
}

.nav-footer .social-icons a {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}

.social-icons {
    padding-left:0;
    margin-bottom:0;
    list-style:none;
}

.social-icons li {
    display:inline-block;
    margin-bottom:4px;
}

.social-icons li.title {
    margin-right:15px;
    text-transform:uppercase;
    font-weight:700;
    font-size:13px;
}

.social-icons a {
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:10px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
    color:#fff;
    background-color:#29aafe;
}

.social-icons.size-sm a {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px;
}

.social-icons a.facebook:hover {
    background-color:#3b5998;
}

.social-icons a.twitter:hover {
    background-color:#00aced;
}

.social-icons a.linkedin:hover {
    background-color:#007bb6;
}

/* Tablet - PC version */
@media (max-width:767px) {
    .nav-footer {
        padding-bottom:0;
    }

  .nav-footer .copyright-text,.nav-footer .social-icons {
      text-align:center;
    }

    .social-icons li.title {
        display:block;
        margin-right:0;
        font-weight:600;
    }
}
