.logo-connexion {
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 4%;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
}

.login-container-btn {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4%;
    padding-bottom: 5%;
}

.login-btn {
    width: 8rem;
    height: 3rem;
    background: rgba(185, 152, 103, 0.788);
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    border-radius: 50px;
}

.login-btn:hover {
    background-color: var(--third-background-color);
    transition: all 1s ease-out;
}

.login-input {
    width: 100%;
    margin: 5% 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.363);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-input:focus {
    outline: 0 !important;
    border: 1px solid black;
}

.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover, 
.login-input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 9000s ease-in-out 0s;
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-register {
    text-align: center;
    color: white;
}

.login-input::placeholder {
    color: white;
}

.forgot-pass {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    display: block;
    color:white;
    font-size: 1.2em;
}

.forgot-pass:hover {
    color: black !important;
    text-decoration: none;
}

.forgotpass-form {
    width: 50%;
    margin: auto;
}

.form-reset {
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-bottom: 3%;
}

.resetpass-title-h2 {
    font-size: 2rem;
    color: var(--third-background-color);
    margin-bottom: 2%;
    text-align: center;
}

/* Tablet version */
@media (min-width: 600px) {
    .login-form {
        width: 50%;
    }

    .login-input {
        font-size: 1.7rem;
    }

    .login-btn {
        width: 12rem;
        height: 4rem;
        font-size: 1.4rem;
    }
}

/* Tablet - PC version */
@media (min-width: 1024px) {
    .login-form {
        width: 40%;
    }
}

/* Large PC */
@media (min-width: 1200px) {
    .login-form {
        width: 30%;
    }
}
