{# This is the home page that will display the cycling shirts's collection, the latest's artciles #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Accueil{% endblock %}

{% block body %}
    <section>
        <div class="background-picture-home"></div>
    </section>

    <section>
        <h1 class="collection-title"><span>Collection</span></h1>
        <section class="accordions-pictures">
            <div class="accordions-pictures1">
                <h2 class="collection-title-h2">Années 50-60</h2 class="collection-title-h2">
                <div class="accordions-section1">
                    <img src="assets/images/Milremo.jpg" class="img img1" alt="picture1"/>
                    <img src="assets/images/Olida-68.jpg" class="img img2" alt="picture2"/>
                    <img src="assets/images/L'economique.jpg" class="img img3" alt="picture3"/>
                </div>
            </div>
            <div class="accordions-pictures2">
                <h2 class="collection-title-h2">Années 70</h2 class="collection-title-h2">
                <div class="accordions-section2">
                    <img src="assets/images/Milremo.jpg" class="img img4" alt="picture4"/>
                    <img src="assets/images/Olida-68.jpg" class="img img5" alt="picture5"/>
                    <img src="assets/images/L'economique.jpg" class="img img6" alt="picture6"/>
                </div>
            </div>
        </section>
        <section class="accordions-pictures">
            <div class="accordions-pictures1">
                <h2 class="collection-title-h2">Années 80</h2 class="collection-title-h2">
                <div class="accordions-section1">
                    <img src="assets/images/Milremo.jpg" class="img img1" alt="picture1"/>
                    <img src="assets/images/Olida-68.jpg" class="img img2" alt="picture2"/>
                    <img src="assets/images/L'economique.jpg" class="img img3" alt="picture3"/>
                </div>
            </div>
            <div class="accordions-pictures2">
                <h2 class="collection-title-h2">Années 90</h2 class="collection-title-h2">
                <div class="accordions-section2">
                    <img src="assets/images/Milremo.jpg" class="img img4" alt="picture4"/>
                    <img src="assets/images/Olida-68.jpg" class="img img5" alt="picture5"/>
                    <img src="assets/images/L'economique.jpg" class="img img6" alt="picture6"/>
                </div>
            </div>
        </section>
    </section>

    <section class="home-articles">
        <h1 class="home-articles-title"><span>A la une</span></h1>
    </section>
{% endblock %}
