<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Deamande d'inscription à retro-cycling</title>
    </head>
    <body>
        <h1>Activation de votre compte sur retro-cycling</h1>
            <p>Un dernier coup de reins avant la ligne d'arrivée !!</p>
            <p>Vous venez de crée votre compte, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
            <p><a style="font-size:20px" href="{{ absolute_url(path('activation', {'token': token })) }}">Activer mon compte</a></p>
            <p>Rejoignez nous sur le podium, l'équipe retro-cycling.</p>
            <div><img src="https://retro-cycling.fr/assets/images/logo-retro.png" alt="Logo retro-cycling" width="120" height="auto"></div>
    </body>
</html>