{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }}-Modification du mot de passe de {{ app.user.pseudo }}{% endblock %}

{% block body %}
<h1>Modification du mot de passe de {{ app.user.pseudo }}</h1>
    <form class="login-form" method="post">
            <label for="pass">Mot de passe</label>
            <input type="password" id="pass" name="pass" required pattern=".[a-zA-Z0-9]{6,}" placeholder="Mot de passe" class="form-control">
            <label for="pass2">Confirmer le mot de passe</label>
            <input type="password" id="pass2" name="pass2" required pattern=".[a-zA-Z0-9]{6,}" placeholder="Répétez mot de passe" class="form-control">

        <button class="btn registrer-btn">Valider</button>
    
    </form>
{% endblock %}